#**PYTHON LIST**

#**A. Access List Items:**

In [ ]:
# Q:Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
# Q:This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Q:This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

#**B. Change List Items:**

In [ ]:
# Q:Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
# Q:Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
# Q:Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

#**C. Add List Items:**

In [ ]:
# 1.append("orange"), 2.insert(1, "watermelon"), 3.extend(tropical)
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.append('orange')
thislist.insert(1, 'watermelon')
thislist.extend(tropical)
print(thislist,'\n', tropical)

['apple', 'watermelon', 'banana', 'cherry', 'orange', 'mango', 'pineapple', 'papaya']
 ['mango', 'pineapple', 'papaya']

#**D. Remove List Items:**

In [ ]:
# 1.remove("banana"), 2.pop(1), 3.del thislist[0], 4.clear()
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
newlist = ['watermelon','orange','blackcurrant']
thislist.remove('apple')
tropical.pop(1)
del tropical[0]
newlist.clear()
print(thislist, '\n', tropical, '\n', newlist)

['banana', 'cherry']
 ['papaya']
 []

#**E. Sort Lists:**

In [ ]:
# 1.sort(), 2.sort(reverse = True), 3.sort(key = str.lower)
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
rev = ['apple', 'watermelon', 'banana', 'cherry', 'orange', 'mango', 'pineapple', 'papaya']
rev.sort(reverse = True)
list1 = ["banana", "Orange", "Kiwi", "cherry"]
list1.sort(key = str.lower)
print(thislist, '\n', rev, '\n', list1)

def myfunc(n):
  return abs(n - 50)

list2 = [100, 50, 65, 82, 23]

list2.sort(key = myfunc)
print(list2)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
 ['watermelon', 'pineapple', 'papaya', 'orange', 'mango', 'cherry', 'banana', 'apple']
 ['banana', 'cherry', 'Kiwi', 'Orange']
[50, 65, 23, 82, 100]

#**How to find unique elements in the list**

#**Use Dictionary and fromkeys**

In [ ]:
list1 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
unique_list = list(dict.fromkeys(list1))
print(unique_list)

[1, 2, 3, 4, 5]

#**Another Approch: Useing for loop**

In [ ]:
def unique(list1):
    unique_list = []
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print(x)

list1 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
unique(list1)

1
2
3
4
5

#**Another Approch: Use collections and Counter**

In [ ]:
from collections import Counter
def unique(list1):
    print(*Counter(list1))

list1 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
unique(list1)

1 2 3 4 5